
#.idea/
#Orses_Wallet/__pycache__/
#Orses_Util/__pycache__/
#practice.py
#Orses_Cryptography/__pycache__/
#storedCrypt/
#Orses_Cryptography/snwokenk_encrypted_key
#Orses_Cryptography/snwokenk_pubkey
#Orses_Database/__pycache__/
#Orses_Network_Messages/__pycache__/
#tstfolder/
#Orses_Client.iml
#Orses_Message/__pycache__/
#Orses_User/__pycache__/
#users/
#wallet_details/
#data_folder/
#wallet_detail/
#wallets/
#Orses_Network/__pycache__/
#network_data_folder/

.idea/

Orses_Cryptography/__pycache__/
Orses_Database/__pycache__/
Orses_Message/__pycache__/
Orses_Network/__pycache__/
Orses_Network_Messages/__pycache__/
Orses_User/__pycache__/
Orses_Util/__pycache__/
Orses_Wallet/__pycache__/
users/
data_folder/
wallet_detail/
Orses_Client.iml
practice2.py
wallets/
network_data_folder/
live_data_client/
